body {
    
}

#card {
    position: absolute;
    top: 30%;
}

#question {
    padding-bottom: 50px; 
}

#name, #description {
    padding-left: 10px;
}

#butt {
    padding-bottom: 15px;
}

#avatar {
    padding-bottom: 20px;
}

